<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <rewrite>
            <rules>

             <rule name="RewriteJobDetail">
                    <match url="^job/([0-9]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}" />
              </rule>

             <rule name="RewriteDashboardJobPosting">
                    <match url="^([^/]+)/post/([0-9]+)$" />
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}" />
              </rule>

             <rule name="RewriteDashboardDeleteJob">
                    <match url="^([^/]+)/delete-job/([0-9]+)$" />
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}" />
              </rule>

             <rule name="RewriteDashboardEditJob">
                    <match url="^([^/]+)/edit-job/([0-9]+)$" />
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}" />
              </rule>

             <rule name="RewriteDashboardStatistics">
                    <match url="^([^/]+)/statistics/([0-9]+)/([0-9]+)-([0-9]+)$" />
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}&amp;extra={R:3}" />
              </rule>

		<rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={R:1}" />
                </rule>

               <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}" />
                </rule>

                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}&amp;extra={R:3}" />
                </rule>	

		<rule name="RewriteUserFriendlyURL4" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}&amp;extra={R:3}&amp;referer={R:4}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
