/*.~
/_cache/
/_tpl/default/_cache
/sjs-admin/_tpl/_cache
/uploads/
/blog/
/js/tinymce
/js/owlcarousel
/js/bootstrap
/_lib/CacheLite
/_lib/external
/_lib/smarty
/_config/config.envs.php
/_tools/maintenance.log
/_tools/import/
